%backup%~
*.*~
.cache
.emacs.desktop
.emacs.desktop.lock
auto-save-list
backups
bookmarks
custom.el
docsets
elpa
emms
eshell
network-security.data
recentf
request
tramp
url
var

lisp/scratch.el
lisp/scratch.txt
lisp/*.org
eln-cache
.cask

straight/*
!straight/versions
straight/versions/*
!straight/versions/default.el
